.Dashboard{
  width:100%;
  height: 100vh;
  position: relative;
  background-color: #e6e6fa;
}

.Sidebar{
width: 20% ;
height:100vh;
margin-top: 0;
background-color: rgb(22, 22, 22);
z-index: 20;
position: absolute;
top:0;
color: white;
}

.Sidebar ul{
  height:80vh;
  padding-top: 5vh;
}

.Sidebar ul li{
  list-style-type: none;
}

.Navcomponent{
width:100%;
height:10vh;
z-index: 10;
background-color: #f0f8ff ;

}

.Navcomponent h3{
  margin-left: 90%;
}

.courses{
  margin-left: 20%;
  width:80%;
  height:90vh;
}

.container{
  width:300px;
  height:30vh;
  border: 1px solid black;
  box-shadow: 10px 10px rgb(219, 219, 219);
  z-index: 30;
  margin-left: 4%;
  margin-top:8vh;
}

.main{
  width:100%;
  height:70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main input{
  width:350px;
  height:6vh;
}

.sDashboard{
  width:100%;
  height:100vh;
}